Schemas/GuestbookFullName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="GuestbookFullName">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="GuestFullName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuestFullName">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FullName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FullName" type="xs:string"/>
</xs:schema>
