Schemas/Test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Guestbook">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Guest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Guest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FName"/>
        <xs:element ref="LName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FName" type="xs:string"/>
  <xs:element name="LName" type="xs:string"/>
</xs:schema>
